.sidebar {
    list-style-type: none;
    background: rgba(205, 214, 51, 0.1);
    border: 2px solid #EA5664;
    border-radius: 10px;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #EA5664;
    transition: .2s linear;
}

.sidebar li:hover {
    background-color: #EA5664;
}

.loadButton {
    display: flex;
    justify-content: center;
    padding: 10px;
}